body {
  margin: 0;
  background-color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.img{
  margin-left: 50px;
  height: 20px;
  width:20px;
}

.middle{
  margin:10px 100px ;

}

.bottom{
  margin:10px 100px;
  
}

.set{
  display:inline-block;
  margin:10px 15px 0 10px;
 
}

.p{
 margin-left:100px
}

.t{
  margin-top:5px;
  width:200 px;
  padding:5px ;
}
.no{
  margin:10px 40px;
}

.plus{
  display: inline-block;
  margin:-50px 450px;

}